Restaurant/Connected Services/ServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53409/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53409/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53409/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Select_ID_InputMessage">
    <wsdl:part name="parameters" element="tns:Select_ID" />
  </wsdl:message>
  <wsdl:message name="IService1_Select_ID_OutputMessage">
    <wsdl:part name="parameters" element="tns:Select_IDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Select_Role_InputMessage">
    <wsdl:part name="parameters" element="tns:Select_Role" />
  </wsdl:message>
  <wsdl:message name="IService1_Select_Role_OutputMessage">
    <wsdl:part name="parameters" element="tns:Select_RoleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Exist_User_InputMessage">
    <wsdl:part name="parameters" element="tns:Exist_User" />
  </wsdl:message>
  <wsdl:message name="IService1_Exist_User_OutputMessage">
    <wsdl:part name="parameters" element="tns:Exist_UserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Exist_UserWithPass_InputMessage">
    <wsdl:part name="parameters" element="tns:Exist_UserWithPass" />
  </wsdl:message>
  <wsdl:message name="IService1_Exist_UserWithPass_OutputMessage">
    <wsdl:part name="parameters" element="tns:Exist_UserWithPassResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Update_visitor_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_visitor" />
  </wsdl:message>
  <wsdl:message name="IService1_Update_visitor_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_visitorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Select_visitor_InputMessage">
    <wsdl:part name="parameters" element="tns:Select_visitor" />
  </wsdl:message>
  <wsdl:message name="IService1_Select_visitor_OutputMessage">
    <wsdl:part name="parameters" element="tns:Select_visitorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Delete_visitor_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_visitor" />
  </wsdl:message>
  <wsdl:message name="IService1_Delete_visitor_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_visitorResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Select_ID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Select_ID" message="tns:IService1_Select_ID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Select_IDResponse" message="tns:IService1_Select_ID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select_Role">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Select_Role" message="tns:IService1_Select_Role_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Select_RoleResponse" message="tns:IService1_Select_Role_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Exist_User">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Exist_User" message="tns:IService1_Exist_User_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Exist_UserResponse" message="tns:IService1_Exist_User_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Exist_UserWithPass">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Exist_UserWithPass" message="tns:IService1_Exist_UserWithPass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Exist_UserWithPassResponse" message="tns:IService1_Exist_UserWithPass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_visitor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Update_visitor" message="tns:IService1_Update_visitor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Update_visitorResponse" message="tns:IService1_Update_visitor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select_visitor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Select_visitor" message="tns:IService1_Select_visitor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Select_visitorResponse" message="tns:IService1_Select_visitor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_visitor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Delete_visitor" message="tns:IService1_Delete_visitor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Delete_visitorResponse" message="tns:IService1_Delete_visitor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Select_ID">
      <soap:operation soapAction="http://tempuri.org/IService1/Select_ID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_Role">
      <soap:operation soapAction="http://tempuri.org/IService1/Select_Role" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exist_User">
      <soap:operation soapAction="http://tempuri.org/IService1/Exist_User" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exist_UserWithPass">
      <soap:operation soapAction="http://tempuri.org/IService1/Exist_UserWithPass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_visitor">
      <soap:operation soapAction="http://tempuri.org/IService1/Update_visitor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_visitor">
      <soap:operation soapAction="http://tempuri.org/IService1/Select_visitor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_visitor">
      <soap:operation soapAction="http://tempuri.org/IService1/Delete_visitor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:53409/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>